---
---
@import "{{ site.theme }}";

a {  
 color: #F08080; 
}

.navigation_list {
    list-style:none;
    padding: 0;
}

navigation_list-item a {
    padding: 10px;
    background: #FAEBD7;
    color: white;
    font-weight: bold;
    border-radius: 20px;
 }
 
 .navigation_list-item a:hover {
    background-color: #CD5C5C
}
